<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>no</key>
		<string>0</string>
		<key>music</key>
		<string>01.caf</string>
		<key>time</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>1</string>
		<key>music</key>
		<string>02.caf</string>
		<key>time</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>2</string>
		<key>music</key>
		<string>03.caf</string>
		<key>time</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>3</string>
		<key>music</key>
		<string>04.caf</string>
		<key>time</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>4</string>
		<key>music</key>
		<string>05.caf</string>
		<key>time</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>5</string>
		<key>music</key>
		<string>06.caf</string>
		<key>time</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>6</string>
		<key>music</key>
		<string>07.caf</string>
		<key>time</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>7</string>
		<key>music</key>
		<string>08.caf</string>
		<key>time</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>8</string>
		<key>music</key>
		<string>09.caf</string>
		<key>time</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>9</string>
		<key>music</key>
		<string>10.caf</string>
		<key>time</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>10</string>
		<key>music</key>
		<string>11.caf</string>
		<key>time</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>no</key>
		<string>11</string>
		<key>music</key>
		<string>12.caf</string>
		<key>time</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
