<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>01.caf</string>
	<string>02.caf</string>
	<string>03.caf</string>
	<string>04.caf</string>
	<string>05.caf</string>
	<string>06.caf</string>
	<string>07.caf</string>
	<string>08.caf</string>
	<string>09.caf</string>
	<string>10.caf</string>
	<string>11.caf</string>
	<string>12.caf</string>
</array>
</plist>
